<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>FLIGHTS</title>
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='bootstrap.css')}}'>
</head>
<title>Airline-delay-Prediction App</title>
<body>
<h1>Fly-Maybe</h1>
<div>
    Insert your flight's info (max 5 days ahead).
    We'll get th relevant weather and airport data from the web for you and make
    a prediction about how much delay you could be incurring in your next flight.
</div>
<form action = "/getdelay" method="POST">
    <p> Select Origin:<input name="origin" type ="text" value="JFK" /> </p>
    <p> Select Destination: <input name="dest" type ="text" value="LAX" /> </p>
    <p> Select Airline : <input name="unique_carrier" type="text" value="AA"></p>
    <p> Select Date:<input name="date" type ="text" value= {{ dt_string }} /> </p>
    <p> <input type ="submit" value="Check Delay" /> </p>
</form>
<div class=metanav>
<form method='get' action='/index'>
    <button class="btn btn-default button1" name="map"> HOME </button>
</form>

<form method='get' action='/getmap'>
    <button class="btn btn-default button1" name="map"> MAP </button>
</form>
</div>
</body>
</html>
