{% extends "layout.html" %}
{% block content %}
    <div class="bg-wrap"></div>
    <div class="homepage-section homepage-intro">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="homepage-block col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
                    <div class="homepage-title">
                        <h1>Fly-Maybe</h1>
                        <p>Passengers and frequent flyers are often caught unprepared by
                        their flights’ delays, and that can often ruin a business trip
                        or the start of a relaxing holiday.
                        By looking at the 2016 data for the 50 top USA airports (approx. 3.5M flights), and
                        the help of machine learning, we can make predictions about possible
                        delays of our impending flight and be prepared!</p>
                        <p>By studying the flight’s data from last year and enriching it with very
                        detailed weather data from the NOAA stations, we have learned which
                        information allows us to make reliable predictions about the delay of
                        an upcoming flight.</p>
                        <p>The dataset used contains information about all aspects of a particular
                        flight; carrier, date, origin and destination, time of departure and arrival,
                        statistics about taxing time, weather at the airports, and much more.
                        All of this is leveraged by an algorithm to predict if your flight,
                        within the next five calendar days, will be delayed.</p>
                        <p>Have a look at the data used to train the algorithm; the maps below
                        represent the total number of flights and the fraction of them that
                        encountered delays for 2016 on the main routes across the USA.
                        Or just go to the prediction page, input the information about
                        your flight, and see if you can expect a smooth journey.</p>
                    </div>
                    <div class="homepage-nav">
                        <a class="btn btn-light" href="#first-map">Map</a>
                        <a class="btn btn-light" href="#second-map">Map 2</a>
                        <a class="btn btn-light" href="/prediction">Prediction</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  map 1 -->
    <div class="homepage-section homepage-map map-1" id="first-map">
	    <h2>Flights Map</h2>
	    <div id="info" class="map-info"><span>Hover over an airport to view details</span></div>
      <div id="info" class="map-info"><span>This map shows the flight connections between airports. Airports are represented
      based on the total number of passengers they transfer. The connections between the selected origin
      and the destinations represent the yearly number of flights. You can also select an airline
    and see their busiest routes.</span></div>
        <div class="map-wrapper">
            <div id="map"></div>
        </div>
    </div>

     <!--  map 2 -->
    <div class="homepage-section homepage-map map-2" id="second-map">
	    <h2>Delays Map</h2>
	    <div id="info-2" class="map-info"><span>Hover over an airport to view details</span></div>
      <div id="info" class="map-info"><span>This map shows the fraction of flights between origin and destination
        that are delayed (a delayed flight is defined as a flight that accumulated more than 20 min of
        delay on its schedule). Airports are represented based on the total number of passengers they transfer.
         You can also select an airline and see which of their routes accumulates more delays
         over the year.</span></div>
        <div class="map-wrapper">
            <div id="map-2"></div>

        </div>
    </div>
{% endblock %}
