<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="it-IT" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="it-IT" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="it-IT" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="it-IT" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <title>Flight Maybe</title>
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/screen.css')}}">

		<!-- leaflet -->
        <link rel="stylesheet" type="text/css" media="screen" href='{{ url_for('static',filename='lib/leaflet/leaflet.css')}}'>
		<link rel="stylesheet" type="text/css" media="screen" href='{{ url_for('static',filename='lib/leaflet/dvf.css')}}'>

        <!-- jquery -->
        <script src="{{ url_for('static',filename='assets/js/alone/jquery-1.10.2.min.js')}}" type="text/javascript"></script>
        <!-- head js -->
        <script src="{{ url_for('static',filename='assets/js/head.min.js')}}" type="text/javascript"></script>
        <!-- icons -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

        <!-- ?? -->
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" type="text/css" />
		<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>

    </head>
    <body class="">
		{% block content %}
		{% endblock %}

		<script type="text/javascript" src='{{ url_for('static', filename='lib/leaflet/leaflet-src.js')}}'></script>

		<!-- cdn js -->
		<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.3"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>

		<!-- real data -->
		<script type="text/javascript" src='{{ url_for('static', filename='data/flight_counts.js')}}'></script>
		<script type="text/javascript" src='{{ url_for('static', filename='data/usAirports.js')}}'></script>
		<script type="text/javascript" src='{{ url_for('static', filename='data/flights_delays.js')}}'></script>

		<script type="text/javascript" src='{{ url_for('static', filename='lib/leaflet/dvf.js')}}'></script>

		<!-- body js -->
		<script src="{{ url_for('static',filename='assets/js/plugins.min.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static',filename='assets/js/main.min.js')}}" type="text/javascript"></script>
    </body>
</html>