// ------------------------------------------------------------
// Header module
// ------------------------------------------------------------

// Place your BEM/SMACSS style .scss modules in the modules folder

.pages-header {
	background: url("../../../static/assets/img/bg_intro.jpg") no-repeat center center;
	@include background_size(cover);
	position: relative;
	padding: 25px 0;
	margin-bottom: 30px;

	&:after {
		@include background-image(linear-gradient(to bottom right, #e06811, #a53add));
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include opacity(0.6);
		z-index: 100;
	}

	h1 {
		color: $white;
		text-shadow: 0px 0px 10px rgba($black, 0.2);
		float: left;
		margin-bottom: 0;

		&:after {
			display: none;
		}
	}

	.btn-group {
		float: right;
	}
}


.header-inner {
	position: relative;
	z-index: 1000;
}


// ------------------------------------------------------------
// Breakpoints
// ------------------------------------------------------------

//Two
@include breakpoint($b-vp) {

}

//Free
@include breakpoint($c-vp) {

}

//Four
@include breakpoint($d-vp) {

}

//Five
@include breakpoint($e-vp) {

}

//Six
@include breakpoint($f-vp) {

}